// form fields defaults

input,
textarea,
button {
  font-family: $font-family-base;
  font-size: $font-base;
}

input {
  border-color: $c-grey-200;
  border-radius: $border-radius;
  width: 100%;
  transition: border-color $global-transition;

  &:focus {
    border-color: $c-primary;
  }
}

input[type="checkbox"] {
  display: inline-block;
  width: 25px;
}

textarea {
  border-radius: $border-radius;
  border: 1px solid $c-grey-200;
  font-size: $font-base;
  min-height: 120px;
  outline: none;
  padding: $spacing-medium;
  resize: none;
  width: 100%;
  transition: border-color $global-transition;

  &:focus {
    border-color: $c-primary;
  }
}

button {
  padding: $spacing-small $spacing-medium;
  background-color: $c-blue-500;
  color: $c-white;
  font-weight: 600;
  border: none;
  border-radius: 16px;
  transition: opacity $global-transition;

  &:hover {
    cursor: pointer;
    opacity: 0.9;
  }

  &:disabled {
    opacity: 0.4;
    cursor: default;
  }
}
