.c-nav {
  display: block;
  width: 100%;

  &__menu {
    @include list-reset;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include breakpoint("medium") {
      justify-content: flex-start;
    }

    li {
      padding-right: $spacing-small;
      @include breakpoint("medium") {
        padding-right: $spacing-medium;
      }
    }

    a {
      &:link,
      &:visited {
        color: $c-white;
        text-decoration: none;
        font-size: 14px;

        @include breakpoint("medium") {
          font-size: $font-base;
        }
      }
    }
  }

  &__menu-home {
    a {
      &:link,
      &:visited {
        font-size: 28px;
        font-weight: 800;
        @include breakpoint("medium") {
          font-size: 34px;
        }
      }
    }
  }
}
