.c-post {
  border-radius: $border-radius;
  border: 1px solid $c-grey-200;
  margin-bottom: $spacing-small;
  min-height: 140px;
  padding: $spacing-base;

  &__header {
    @include flex-center;
    margin-bottom: $spacing-medium;
    font-weight: 800;
  }

  &__header-left {
    @include flex-center;
    flex: 1;
  }

  &__image {
    background-color: $c-grey-200;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    margin-right: $spacing-small;
  }
  &__content {
    margin-bottom: $spacing-small;
  }

  &__mentions {
    font-size: $font-small;
  }

  &__meta {
    color: $c-grey-500;
    font-size: $font-small;
  }

  &__timestamp {
    color: $c-grey-300;
    font-size: $font-small;
    text-align: right;
  }

  &__button {
    background-color: transparent;
    border: 1px solid transparent;
    transition: border-color $global-transition;

    color: $c-blue-500;

    &:hover {
      border-color: $c-blue-500;
    }
  }
}
