body {
  font-size: $font-base;
  font-family: $font-family-base;
}
.app {
  font-size: $font-base;
  min-height: 100vh;
  overflow: hidden;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

.o-content {
  margin: 80px 0;
}

.c-header {
  align-items: center;
  background-color: $c-primary;
  display: flex;
  min-height: 60px;
}

a {
  color: $c-blue-500;
  &:hover {
    opacity: 0.8;
  }
}

// Typography styles. Can split out into own file if necessary
h1,
h2,
h3,
h4,
h5 {
  font-weight: 800;
}

h1 {
  margin-bottom: $spacing-large;
}

.ul {
  @include list-reset;
}
