/*
 * Helper styles and reusable functions
 */

@mixin list-reset {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.u-text-center.u-text-center {
  text-align: center;
}

.u-text-right.u-text-right {
  text-align: right;
}

@mixin flex-center {
  display: flex;
  align-items: center;
}

.u-flex-center.u-flex-center {
  @include flex-center;
}

.u-flex-1.u-flex-1 {
  flex: 1;
}

.u-bold.u-bold {
  font-weight: 600;
}

/* breakpoint helper
 * Only included one breakpoint
 * To use: @include breakpoing("medium")
 */
@mixin breakpoint($condition) {
  @if $condition == "medium" {
    @media only screen and (min-width: $bp-med) {
      @content;
    }
  }
}
