/* Place all variables here! */
$c-white: #fff;
$c-black: #000;

$c-primary: #282c34;
// $c-secondary: #61dafb;

$c-blue-500: #00a0fe;

$c-grey-200: #b7b7b7;
$c-grey-300: #a2a3a5;
$c-grey-500: #333;

// Site
$max-site-width: 1400px;
$site-body-width: 600px;

// Spacing
$spacing-small: 10px;
$spacing-base: 20px;
$spacing-medium: 30px;
$spacing-large: 60px;

$font-base: 16px;
$font-small: 12px;
$font-family-base: Arial, Helvetica, sans-serif;

$border-radius: 8px;

$global-transition: 150ms ease-in-out;

// Breakpoints
$bp-med: 768px; // >= 768px @ 16px
